@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --curves-h: 100vh;
  --curves-w: calc(100vw - 256px);;
}

::view-transition-old(.slide-in-back) {
  animation-name: slideOutRight;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide-in-back) {
  animation-name: slideInRight;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-old(.slide-in-forward) {
  animation-name: slideOutLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide-in-forward) {
  animation-name: slideInLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100vw + 256px));
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(calc(-100vw + 256px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100vw - 256px));
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(calc(100vw - 256px));
  }
  to {
    transform: translateX(0);
  }
}

::view-transition-group(tab-blog),
::view-transition-group(tab-projects),
::view-transition-group(tab-about),
::view-transition-group(tab-home) {
  z-index: 100 !important;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

.prose h1 {
  font-size: 2em !important;
}

.prose h2 {
  font-size: 1.5em !important;
}

.prose h3 {
  font-size: 1.25em !important;
}

.prose h1,
.prose h2,
.prose h3 {
  font-weight: 700 !important;
}
.prose ul {
  list-style-type: disc !important;
  padding-left: 1.5em !important;
}
.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5em !important;
}
.prose li {
  margin-bottom: 0.5em !important;
}
