@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --tab-width: 60px;
  --tab-color: #333;
  --tab-active-color: #000;
  --tab-hover-color: #555;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
